footer{
    bottom: 0;
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #277BC0;
    overflow: auto;
}
header {
   
    top:0;
    margin:0;
    padding:20px;
    background-color: #277BC0;
}
main {
    overflow: auto;
    padding: 20px;
}
button {
    background-color: #fff;
    border-style: none;
    color: #fff;
    float: right;
}

*{
    font-family: sans-serif;
}